@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">

		<div class="col-md-6">
			<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<h2>Create a new account.</h2>
				<hr />
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

				<div>
					<p>
						<label for="Email">Email:</label>
						<br />
					@Html.TextBoxFor(r => r.Input.Email, new { @class = "form-control", placeholder = "Enter your email" })
						<div class="pageMessage">
							@Html.ValidationMessageFor(r => r.Input.Email)
						</div>
					</p>
				</div>

			<div>
				<p>
					<label for="Password">Password:</label>
					<br />
					@Html.PasswordFor(r => r.Input.Password, new { @class = "form-control", placeholder = "Enter your password" })
					<div class="pageMessage">
						@Html.ValidationMessageFor(r => r.Input.Password)
					</div>
				</p>
			</div>

			<div>
				<p>
					<label for="ConfirmPassword">Confirm Password:</label>
					<br />
					@Html.PasswordFor(r => r.Input.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm your password" })
					<div class="pageMessage">
						@Html.ValidationMessageFor(r => r.Input.ConfirmPassword)
					</div>
				</p>
			</div>

			<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
			</form>
		</div>

	@*
	<div class="col-md-6 col-md-offset-2">
		<section>
			<h3>Use another service to register.</h3>
			<hr />
			@{
				if ((Model.ExternalLogins?.Count ?? 0) == 0)
				{
					<div>
						<p>
							There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
								article
								about setting up this ASP.NET application to support logging in via external services
							</a>.
						</p>
					</div>
				}
				else
				{
					<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
						<div>
							<p>
								@foreach (var provider in Model.ExternalLogins!)
								{
									<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
								}
							</p>
						</div>
					</form>
				}
			}
		</section>
	</div>
	*@

</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
