@page
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <input type="hidden" asp-for="Input.Token" /> <!-- Hidden field for the Token -->

                <p>
                    <label for="Email">Email:</label>
                    <br />
                    @Html.TextBoxFor(r => r.Input.Email, new { @class = "form-control", placeholder = "Enter your email" })
                    <div class="pageMessage">
                        @Html.ValidationMessageFor(r => r.Input.Email)
                    </div>
                </p>
            </div>

            <div>
                <p>
                    <label for="Password">Password:</label>
                    <br />
                    @Html.PasswordFor(r => r.Input.Password, new { @class = "form-control", placeholder = "Enter your password" })
                    <div class="pageMessage">
                        @Html.ValidationMessageFor(r => r.Input.Password)
                    </div>
                </p>
            </div>

            <div>
                <p>
                    <label for="ConfirmPassword">Confirm Password:</label>
                    <br />
                    @Html.PasswordFor(r => r.Input.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm your password" })
                    <div class="pageMessage">
                        @Html.ValidationMessageFor(r => r.Input.ConfirmPassword)
                    </div>
                </p>
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
