@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Phorcys2Web.Controllers

@{
	ViewData["Title"] = "Dive Sites";
}
@model IEnumerable<Phorcys.Web.Models.SiteViewModel>

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">@ViewBag.Title</h1>
	</div>
</section>

<div id="message" class="pageMessage">
	@{
		if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null)
		{
		}
		<p id="pageMessage">
			@(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
		</p>
	}
</div>

<div class="placeholders mb-2">
	<div class="row d-flex justify-content-start">
	</div>
</div>
<p>
	<form action="@Url.Action("Create", "Site")" method="get">
		<button type="submit" class="btn btn-primary">Enter New Site</button>
	</form>
</p>

<div class="row">
	<div class="col-12">
		@(
				Html.Kendo().Grid(Model)
				.Name("Grid")
				.Columns(columns =>
				{
					columns.Bound(p => p.DiveSiteId).Hidden(true);
					columns.Bound(p => p.LocationTitle).Title("Location");
					columns.Bound(p => p.Title).Title("Site");
					columns.Bound(p => p.MaxDepth).Width(120);
					columns.Bound(p => p.SiteMapUrl)
					.Title("Map")
					.ClientTemplate(
					"# if (SiteMapUrl) { #" +
					"<a href='#= SiteMapUrl #' target='_blank'>View Map</a>" +
					"# } else { #" +
					"No Map Available" +
					"# } #"
					)
					.HtmlAttributes(new { @class = "grid" });
					columns.Bound(p => p.Notes).Width(100).Hidden(true);
					columns.Command(command => command.Custom("Delete").Click("onDelete"));
				})
				.Height(700)
				.Mobile()
				.Resizable(resize => resize.Columns(true)
				)
				.ToolBar(toolbar =>
				{
					toolbar.Excel();
					toolbar.Pdf();
					toolbar.Search();
				})
				.Pdf(pdf => pdf.ProxyURL(Url.Action("Excel_Export_Save", "Grid")))
				.Excel(excel => excel.ProxyURL(Url.Action("Excel_Export_Save", "Grid")))
				.ColumnMenu(col => col.Filterable(true))
				.Pageable(pageable => pageable
				.ButtonCount(5)
				.Refresh(true)
				.PageSizes(new[] { 5, 10, 20, 40, 800 }))
				.Sortable()
				.Groupable()
				.Filterable()
				.Scrollable()
				@*.HtmlAttributes(new { style = "height:700px;" })*@
				)
	</div>
</div>

@using (Html.BeginForm("Delete", "Site", FormMethod.Post, new { id = "hiddenDeleteForm", style = "display:none;" }))
{
	@Html.AntiForgeryToken()
	<input type="hidden" name="DiveSiteId" id="hiddenDiveSiteId" value="" />
}
<script>
	function onDelete(e) {
		e.preventDefault();
		var tr = $(e.target).closest("tr");
		var data = this.dataItem(tr);

		var diveSiteId = data.DiveSiteId;
		if (confirm("Are you sure you want to delete site #" + diveSiteId + "?")) {
			// Set the DiveSiteId in the hidden form and submit the form
			$('#hiddenDiveSiteId').val(diveSiteId);
			$('#hiddenDeleteForm').submit();
		}
	}
</script>

